html {
    font-size: 10px;
    background-size: cover;
}
.guessedLetters{
    font-size: 16px;
    color: red;

}
.container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.guessBox {
    padding: 1em;
    
    text-align: left;
}

.correctWord {
    display: flex;
    flex-wrap: nowrap;
    flex: 4;
    padding-top: 1%;
    padding-left: 1%;
    font-size: 20px;
   
}

.gameArea {
    padding-top: 5%;
    background-color: rgb(218, 217, 161);
    border: .4rem solid black;
    border-radius: .5rem;
}